body {
  margin: 0;
  background-color: #003049;
}

.login-form{
  text-align: center;
  font-size: 85px;
  color: white;
}

.amount-part h3 { 
  text-align: center;
  font-size: 87px;
  color: white;
  margin-top: 17px;
}

.user-info {
  width: 500px;
  height: 400px;
  background-color: #f77f00;
  padding-top: 80px;
  box-shadow: 2px 10px 32px #0e0e0e;
  margin: auto;
  margin-top: 120px;
}

.user-info input {
  display: block;
  margin: 30px 40px 0px 42px;
  border: 2px solid;
}

input:focus {
  outline: none;
}

.input_field {
  font-size: 16px;
  padding-left: 15px;
  height: 48px;
  width: 399px;
  border-radius: 5px;
}

.login {
  font-size: 18px;
  font-style: bold;
  width: 148px;
  height: 60px;
  border-radius: 5px;
  margin-top: 71px;
  background-color: #14213d;
  color: wheat;
  border: none;
  cursor: pointer;
  box-shadow: 2px 10px 32px #0e0e0e;
}

.center {
  text-align: center;
  color: seashell;
}

.deposit {
  width: 30%;
  height: 300px;
  background-color: red;
  float: left;
  margin-left: 54px;
  background-color: #540d6e;
  box-shadow: 2px 10px 32px #0e0e0e;
}

.withdraw {
  width: 30%;
  height: 300px;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 2px 10px 32px #0e0e0e;
  background-color: #3c096c;
}

.balance {
  width: 30%;
  height: 300px;
  float: left;
  background-color: #ef476f;
  box-shadow: 2px 10px 32px #0e0e0e;
}

.amount-part{
  display: none;
}

.title {
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding-left: 35px;
}
p {
  font-size: 90px;
  margin: 0;
  color: rgb(255, 255, 255);
  padding-left: 35px;
}

.diposit-part {
  width: 40%;
  height: 250px;
  background-color: red;
  float: left;
  background-color: #ff6b6b;
  box-shadow: 2px 10px 32px #0e0e0e;
  margin-left: 95px;
  margin-top: 65px;
  font-size: 25px;
  color: aliceblue;
  margin-bottom: 150px;
}

.diposit-part input {
    display: block;
    width: 363px;
    height: 50px;
    padding-left: 15px;
    margin-left: 45px;
    font-size: 18px;
}



.diposit-part h2{
    padding-left: 45px;
}

.withdrow-part h2{
    padding-left: 45px;
}



.withdrow-part input {
    display: block;
    width: 363px;
    height: 50px;
    padding-left: 15px;
    margin-left: 45px;
    font-size: 18px;
    
}

.diposit-part button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    margin-left: 45px;
    margin-top: 15px;
    background-color: #14213d;
    border: none;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 2px 10px 32px #0e0e0e;

}

.withdrow-part button{
    width: 140px;
    height: 50px;
    font-size: 18px;
    margin-left: 45px;
    margin-top: 15px;
    background-color: #14213d;
    color: aliceblue;
    border: none;
    cursor: pointer;
    box-shadow: 2px 10px 32px #0e0e0e;
}

.withdrow-part {
  width: 40%;
  height: 250px;
  background-color: red;
  float: left;
  background-color: #9b5de5;
  box-shadow: 2px 10px 32px #0e0e0e;
  margin-left: 113px;
  margin-top: 65px;
  font-size: 25px;
  color: aliceblue;
  margin-bottom: 150px;
}

